.score {
  &__container {
    height: 90vh;
    min-width: 50vh;
  }

  &__card {
    background-color: #e5e9f0;
  }

  &__cardBody {
    width: 50vw;
    min-height: 40vh;
  }
}

.text {
  font-size: 2em;

  &__scoreLine {
    font-weight: bold;
  }

}
