.difficulty {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    @media (min-width: 1070px) {
      flex-direction: row;
    }
  }

  &__btn {
    width: 100%;

    &--easy {
      border-color: #a3be8c;
      &:hover {
        border-color: #a3be8c;
        background-color: #a3be8c;
      }
    }


    &--medium {
      border-color: #ebcb8b;
      &:hover {
        border-color: #ebcb8b;
        background-color: #ebcb8b;
      }
    }


    &--hard {
      border-color: #bf616a;
      &:hover {
        border-color: #bf616a;
        color: black;
        background-color: #bf616a;
      }
    }
  }
}